/*
 Style for the WallpaperControlWidget
 */
.controls{
    spacing: 5px;
}

.overlay{
    padding-top: 144px;
    padding-left: 21px;
}

.toggled {
    box-shadow: 0 0 10px rgba(255,255,255,0);
    background-gradient-start: rgba(255, 255, 255, 0);
    background-gradient-end: rgba(255, 255, 255, 0.2);
}